# Task specific parameters
robot_name: unitree_g1_with_hands
command_index: [1, 0, 2, 4, 3, 5]
command_scale: [3.0, -3.0, -3.0, 2.0, -2.0, 2.0]
body2part_indices:
  action.waist: [12, 13, 14]
  action.left_arm: [15, 16, 17, 18, 19, 20, 21]
  action.right_arm: [22, 23, 24, 25, 26, 27, 28]
  action.left_hand: [34, 35, 32, 33, 29, 30, 31]
  action.right_hand: [41, 42, 39, 40, 36, 37, 38]
redis_config:
  # send_keys: ["state_body", "state_hand_left", "state_hand_right"]
  # send_size: [127, 7, 7]
  recv_keys:
    ["action_body", "action_hand_left", "action_hand_right", "action_cmd"]
  host: localhost
  port: 6379
  db: 0
