# @package _group_

# Default configuration for robot simulation using Hydra
# Override with: python scripts/run_sim.py backends=isaac robots=h1 objects=sphere

defaults:
  - _self_
  - /configs/backends/mujoco.yaml@simulator_config
  - /configs/robots/unitree_g1_dex3.yaml@simulator_config.scene.objects.g1

simulator_config:
  scene:
    path: assets/scenes/gear_lab/gear_lab.xml
    objects:
      apple:
        path: assets/objects/apple_0/model.xml
        # initial_position: [0.4, 0.0, 0.684446]
        initial_position: [0.4, 0.0, 0.7]
        # initial_orientation: [1, 0.0, 0.0, 0] # [w, x, y, z]
      plate:
        path: assets/objects/plate_1/model.xml
        initial_position: [0.4, 1.2, 0.7]
      object_table:
        path: assets/objects/lab_table/model.xml
        initial_position: [0.5, 0.0, 0.0]
        initial_orientation: [0.707, 0.0, 0.0, 0.707]
      target_table:
        path: assets/objects/lab_table/model.xml
        initial_position: [0.5, 1.2, 0.0]
        initial_orientation: [0.707, 0.0, 0.0, 0.707]
      g1:
        initial_position: [-1.0, 0.0, 0.78]

observation_mapping:
  state.left_leg:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns: # Need to ensure correct order, so provide full names here
        - left_hip_pitch.*
        - left_hip_roll.*
        - left_hip_yaw.*
        - left_knee.*
        - left_ankle_pitch.*
        - left_ankle_roll.*
  state.right_leg:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        - right_hip_pitch.*
        - right_hip_roll.*
        - right_hip_yaw.*
        - right_knee.*
        - right_ankle_pitch.*
        - right_ankle_roll.*
  state.waist:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        - waist_yaw.*
        - waist_roll.*
        - waist_pitch.*
  state.left_arm:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        - left_shoulder_pitch.*
        - left_shoulder_roll.*
        - left_shoulder_yaw.*
        - left_elbow.*
        - left_wrist_roll.*
        - left_wrist_pitch.*
        - left_wrist_yaw.*
  state.left_hand:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        - left_hand_thumb_0.*
        - left_hand_thumb_1.*
        - left_hand_thumb_2.*
        - left_hand_middle_0.*
        - left_hand_middle_1.*
        - left_hand_index_0.*
        - left_hand_index_1.*
  state.right_arm:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        - right_shoulder_pitch.*
        - right_shoulder_roll.*
        - right_shoulder_yaw.*
        - right_elbow.*
        - right_wrist_roll.*
        - right_wrist_pitch.*
        - right_wrist_yaw.*
  state.right_hand:
    - robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        - right_hand_thumb_0.*
        - right_hand_thumb_1.*
        - right_hand_thumb_2.*
        - right_hand_middle_0.*
        - right_hand_middle_1.*
        - right_hand_index_0.*
        - right_hand_index_1.*
  # I don't know whether the gr00t model need this observation or not, so provide it here
  ######## EEF ########
  state.left_wrist_pos:
    - robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns:
        - left_wrist_yaw.*
      mode: position
  state.left_wrist_abs_quat:
    - robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns:
        - left_wrist_yaw.*
      mode: quaternion
  state.right_wrist_pos:
    - robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns:
        - right_wrist_yaw.*
      mode: position
  state.right_wrist_abs_quat:
    - robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns:
        - right_wrist_yaw.*
      mode: quaternion
  ######## Video ########
  video.ego_view:
    - robot_sim.adapters.gr00t.utils.obs_video_mapping
    - camera_name: head_camera
  ######## Task Description ########
  annotation.human.task_description:
    - robot_sim.adapters.gr00t.utils.obs_annotation_mapping
    - description: pick up the apple, walk left, and place the apple on the plate

action_mapping:
  action.left_leg:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns: # same as observation mapping, need to ensure correct order
        - left_hip_pitch.*
        - left_hip_roll.*
        - left_hip_yaw.*
        - left_knee.*
        - left_ankle_pitch.*
        - left_ankle_roll.*
  action.right_leg:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns:
        - right_hip_pitch.*
        - right_hip_roll.*
        - right_hip_yaw.*
        - right_knee.*
        - right_ankle_pitch.*
        - right_ankle_roll.*
  action.waist:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns:
        - waist_yaw.*
        - waist_roll.*
        - waist_pitch.*
  action.left_arm:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns:
        - left_shoulder_pitch.*
        - left_shoulder_roll.*
        - left_shoulder_yaw.*
        - left_elbow.*
        - left_wrist_roll.*
        - left_wrist_pitch.*
        - left_wrist_yaw.*
  action.left_hand:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns:
        - left_hand_thumb_0.*
        - left_hand_thumb_1.*
        - left_hand_thumb_2.*
        - left_hand_middle_0.*
        - left_hand_middle_1.*
        - left_hand_index_0.*
        - left_hand_index_1.*
  action.right_arm:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns:
        - right_shoulder_pitch.*
        - right_shoulder_roll.*
        - right_shoulder_yaw.*
        - right_elbow.*
        - right_wrist_roll.*
        - right_wrist_pitch.*
        - right_wrist_yaw.*
  action.right_hand:
    - robot_sim.adapters.gr00t.utils.act_actuator_space_init
    - actuator_patterns:
        - right_hand_thumb_0.*
        - right_hand_thumb_1.*
        - right_hand_thumb_2.*
        - right_hand_middle_0.*
        - right_hand_middle_1.*
        - right_hand_index_0.*
        - right_hand_index_1.*
  ######## EEF ########
  ######## You can use IK to control the end-effector position and orientation ########
  # action.left_wrist_pos:
  #   - robot_sim.adapters.gr00t.utils.act_eef_mapping
  #   - body_patterns:
  #       - left_wrist_yaw
  #     mode: position
  # action.left_wrist_abs_quat:
  #   - robot_sim.adapters.gr00t.utils.act_eef_mapping
  #   - body_patterns:
  #       - left_wrist_yaw
  #     mode: quaternion
  # action.right_wrist_pos:
  #   - robot_sim.adapters.gr00t.utils.act_eef_mapping
  #   - body_patterns:
  #       - right_wrist_yaw
  #     mode: position
  # action.right_wrist_abs_quat:
  # - robot_sim.adapters.gr00t.utils.act_eef_mapping
  # - body_patterns:
  #     - right_wrist_yaw
  #   mode: quaternion
  ######## High-level commands ########
  ######## You need to prepare a motion planner to convert high-level commands to low-level joint commands ########
  action.base_height_command:
    - robot_sim.adapters.gr00t.utils.act_command_space_init
    - command_dim: 1
      bound:
        min: [0.3]
        max: [0.8]
  action.navigate_command:
    - robot_sim.adapters.gr00t.utils.act_command_space_init
    - command_dim: 3
      bound:
        min: [-1.0, -1.0, -3.14]
        max: [1.0, 1.0, 3.14]
