simulator_config:
  sim:
    dt: 0.002

decimation: 10
max_episode_steps: 1000

controller_config:
  target_actuator_names:
    [
      left_hip_pitch_joint,
      left_hip_roll_joint,
      left_hip_yaw_joint,
      left_knee_joint,
      left_ankle_pitch_joint,
      left_ankle_roll_joint,
      right_hip_pitch_joint,
      right_hip_roll_joint,
      right_hip_yaw_joint,
      right_knee_joint,
      right_ankle_pitch_joint,
      right_ankle_roll_joint,
      waist_yaw_joint,
      waist_roll_joint,
      waist_pitch_joint,
      left_shoulder_pitch_joint,
      left_shoulder_roll_joint,
      left_shoulder_yaw_joint,
      left_elbow_joint,
      left_wrist_roll_joint,
      left_wrist_pitch_joint,
      left_wrist_yaw_joint,
      left_hand_thumb_0_joint,
      left_hand_thumb_1_joint,
      left_hand_thumb_2_joint,
      left_hand_middle_0_joint,
      left_hand_middle_1_joint,
      left_hand_index_0_joint,
      left_hand_index_1_joint,
      right_shoulder_pitch_joint,
      right_shoulder_roll_joint,
      right_shoulder_yaw_joint,
      right_elbow_joint,
      right_wrist_roll_joint,
      right_wrist_pitch_joint,
      right_wrist_yaw_joint,
      right_hand_thumb_0_joint,
      right_hand_thumb_1_joint,
      right_hand_thumb_2_joint,
      right_hand_middle_0_joint,
      right_hand_middle_1_joint,
      right_hand_index_0_joint,
      right_hand_index_1_joint,
    ]
  upper_policy:
    actuator_indices:
      [
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31,
        32,
        33,
        34,
        35,
        36,
        37,
        38,
        39,
        40,
        41,
        42,
      ]
  lower_policy:
    actuator_indices: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
    hand_indices: [22, 23, 24, 25, 26, 27, 28, 36, 37, 38, 39, 40, 41, 42]
    stand_mode_threshold: 0.05
    model_path:
      stand: examples/gr00t/policy/g1/GR00T-WholeBodyControl-Balance.onnx
      walk: examples/gr00t/policy/g1/GR00T-WholeBodyControl-Walk.onnx
    observation_params:
      gravity_vec: [0, 0, -1.0]
      single_obs_dim: 86
      obs_history_len: 6
      action_scale: 0.25
      command_scale: [2.0, 2.0, 0.25]
      nav_command: [0.0, 0.0, 0.0]
      height_command: 0.78
      rpy_command: [0.0, 0.0, 0.0]
      ang_vel_scale: 0.25
      joint_pos_scale: 1.0
      joint_vel_scale: 0.05

observation_map:
  state.left_leg:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    # Need to ensure correct order, so provide full names here
    - joint_patterns:
        [
          left_hip_pitch.*,
          left_hip_roll.*,
          left_hip_yaw.*,
          left_knee.*,
          left_ankle_pitch.*,
          left_ankle_roll.*,
        ]
  state.right_leg:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        [
          right_hip_pitch.*,
          right_hip_roll.*,
          right_hip_yaw.*,
          right_knee.*,
          right_ankle_pitch.*,
          right_ankle_roll.*,
        ]
  state.waist:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns: [waist_yaw.*, waist_roll.*, waist_pitch.*]
  state.left_arm:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        [
          left_shoulder_pitch.*,
          left_shoulder_roll.*,
          left_shoulder_yaw.*,
          left_elbow.*,
          left_wrist_roll.*,
          left_wrist_pitch.*,
          left_wrist_yaw.*,
        ]
  state.left_hand:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        [
          left_hand_thumb_0.*,
          left_hand_thumb_1.*,
          left_hand_thumb_2.*,
          left_hand_middle_0.*,
          left_hand_middle_1.*,
          left_hand_index_0.*,
          left_hand_index_1.*,
        ]
  state.right_arm:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        [
          right_shoulder_pitch.*,
          right_shoulder_roll.*,
          right_shoulder_yaw.*,
          right_elbow.*,
          right_wrist_roll.*,
          right_wrist_pitch.*,
          right_wrist_yaw.*,
        ]
  state.right_hand:
    - _target_: robot_sim.adapters.gr00t.utils.obs_joint_state_split
    - joint_patterns:
        [
          right_hand_thumb_0.*,
          right_hand_thumb_1.*,
          right_hand_thumb_2.*,
          right_hand_middle_0.*,
          right_hand_middle_1.*,
          right_hand_index_0.*,
          right_hand_index_1.*,
        ]
  # I don't know whether the gr00t model need this observation or not, so provide it here
  ######## EEF ########
  state.left_wrist_pos:
    - _target_: robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns: [left_wrist_yaw.*]
      mode: position
  state.left_wrist_abs_quat:
    - _target_: robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns: [left_wrist_yaw.*]
      mode: quaternion
  state.right_wrist_pos:
    - _target_: robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns: [right_wrist_yaw.*]
      mode: position
  state.right_wrist_abs_quat:
    - _target_: robot_sim.adapters.gr00t.utils.obs_body_state_split
    - body_patterns: [right_wrist_yaw.*]
      mode: quaternion
  ######## Video ########
  video.ego_view:
    - _target_: robot_sim.adapters.gr00t.utils.obs_video_map
    - camera_name: head_camera
  ######## Task Description ########
  annotation.human.task_description:
    - _target_: robot_sim.adapters.gr00t.utils.obs_annotation_map
    - description: pick up the apple, walk left, and place the apple on the plate

action_map:
  ######################
  ##### Lower Body #####
  ######################
  # action.left_leg:
  #   - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
  #   # same as observation map, need to ensure correct order
  #   - actuator_patterns:
  #       [
  #         left_hip_pitch.*,
  #         left_hip_roll.*,
  #         left_hip_yaw.*,
  #         left_knee.*,
  #         left_ankle_pitch.*,
  #         left_ankle_roll.*,
  #       ]
  # action.right_leg:
  #   - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
  #   - actuator_patterns:
  #       [
  #         right_hip_pitch.*,
  #         right_hip_roll.*,
  #         right_hip_yaw.*,
  #         right_knee.*,
  #         right_ankle_pitch.*,
  #         right_ankle_roll.*,
  #       ]
  # action.waist:
  #   - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
  #   - actuator_patterns: [waist_yaw.*, waist_roll.*, waist_pitch.*]
  ######################
  #### Upper Body #####
  ######################
  action.left_arm:
    - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
    - actuator_patterns:
        [
          left_shoulder_pitch.*,
          left_shoulder_roll.*,
          left_shoulder_yaw.*,
          left_elbow.*,
          left_wrist_roll.*,
          left_wrist_pitch.*,
          left_wrist_yaw.*,
        ]
  action.left_hand:
    - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
    - actuator_patterns:
        [
          left_hand_thumb_0.*,
          left_hand_thumb_1.*,
          left_hand_thumb_2.*,
          left_hand_middle_0.*,
          left_hand_middle_1.*,
          left_hand_index_0.*,
          left_hand_index_1.*,
        ]
  action.right_arm:
    - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
    - actuator_patterns:
        [
          right_shoulder_pitch.*,
          right_shoulder_roll.*,
          right_shoulder_yaw.*,
          right_elbow.*,
          right_wrist_roll.*,
          right_wrist_pitch.*,
          right_wrist_yaw.*,
        ]
  action.right_hand:
    - _target_: robot_sim.adapters.gr00t.utils.act_actuator_map
    - actuator_patterns:
        [
          right_hand_thumb_0.*,
          right_hand_thumb_1.*,
          right_hand_thumb_2.*,
          right_hand_middle_0.*,
          right_hand_middle_1.*,
          right_hand_index_0.*,
          right_hand_index_1.*,
        ]
  ######################################
  ######## High-level commands ########
  ########################################
  ######## You need to prepare a motion planner to convert high-level commands to low-level joint commands ########
  action.base_height_command:
    - _target_: robot_sim.adapters.gr00t.utils.act_command_map
    - command_dim: 1
      bound:
        min: [0.3]
        max: [0.8]
  action.navigate_command:
    - _target_: robot_sim.adapters.gr00t.utils.act_command_map
    - command_dim: 3
      bound:
        min: [-1.0, -1.0, -3.14]
        max: [1.0, 1.0, 3.14]
  action.rpy_command:
    - _target_: robot_sim.adapters.gr00t.utils.act_command_map
    - command_dim: 3
      bound:
        min: [-0.5, -0.5, -3.14]
        max: [0.5, 0.5, 3.14]
  ######################
  ######## EEF ########
  ######################
  ######## You can use IK to control the end-effector position and orientation ########
  # action.left_wrist_pos:
  #   - _target_: robot_sim.adapters.gr00t.utils.act_eef_map
  #   - body_patterns:
  #       - left_wrist_yaw
  #     mode: position
  # action.left_wrist_abs_quat:
  #   - _target_: robot_sim.adapters.gr00t.utils.act_eef_map
  #   - body_patterns:
  #       - left_wrist_yaw
  #     mode: quaternion
  # action.right_wrist_pos:
  #   - _target_: robot_sim.adapters.gr00t.utils.act_eef_map
  #   - body_patterns:
  #       - right_wrist_yaw
  #     mode: position
  # action.right_wrist_abs_quat:
  # - _target_: robot_sim.adapters.gr00t.utils.act_eef_map
  # - body_patterns:
  #     - right_wrist_yaw
  #   mode: quaternion
