# @package _global_

# Default configuration for robot simulation using Hydra
# Override with: python scripts/run_sim.py backends=isaac robots=h1 objects=sphere

defaults:
  - _self_
  - backends: mujoco.yaml
  - robots: g1.yaml # load configs/robots/g1.yaml
  # - objects: cube.yaml # load configs/objects/cube.yaml

# Hydra runtime configuration
hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}
  job:
    chdir: false

scene:
  terrain:
    type: plane