# @package _global_

# Default configuration for robot simulation using Hydra
# Override with: python scripts/run_sim.py backends=isaac robots=h1 objects=sphere

defaults:
  - _self_
  - backends: mujoco.yaml
  - objects/g1@scene.objects.g1
# Hydra runtime configuration
hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}
  job:
    chdir: false

scene:
  path: assets/scenes/gear_lab/gear_lab.xml
  objects:
    apple:
      path: assets/objects/apple_0/model.xml
      # initial_position: [0.4, 0.0, 0.684446]
      initial_position: [0.4, 0.0, 0.7]
      # initial_orientation: [1, 0.0, 0.0, 0] # [w, x, y, z]
    plate:
      path: assets/objects/plate_1/model.xml
      initial_position: [0.4, 1.2, 0.7]
    object_table:
      path: assets/objects/lab_table/model.xml
      initial_position: [0.5, 0.0, 0.0]
      initial_orientation: [0.707, 0.0, 0.0, 0.707]
    target_table:
      path: assets/objects/lab_table/model.xml
      initial_position: [0.5, 1.2, 0.0]
      initial_orientation: [0.707, 0.0, 0.0, 0.707]
    g1:
      initial_position: [-1.0, 0.0, 0.78]


  # Example of adding a simple plane terrain
  # terrain:
  #   type: plane
