# @package _global_

# Hydra runtime configuration
hydra:
  run:
    dir: outputs/debug
  sweep:
    dir: outputs/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}
  job:
    chdir: false

# Configuration group for environment configuration

# Default configurations to compose the full configuration
defaults:
  - _self_
  - /default/simulator.yaml@simulator
  - /default/modality.yaml@maps
  - /default/policy.yaml@maps.policy
  - /robots/g1_dex3_gr00t.yaml@simulator.scene.objects.unitree_g1_with_hands

task: Gr00tTeleoperation-v0

# Task specific parameters
params:
  command_scale: [3.0, 3.0, 3.0, 2.0, 2.0, 2.0]
  body2part_indices:
    action.waist: [12, 13, 14]
    action.left_arm: [15, 16, 17, 18, 19, 20, 21]
    action.right_arm: [22, 23, 24, 25, 26, 27, 28]
    action.left_hand: [34, 35, 32, 33, 29, 30, 31]
    action.right_hand: [41, 42, 39, 40, 36, 37, 38]
  redis_config:
    # send_keys: ["state_body", "state_hand_left", "state_hand_right"]
    # send_size: [127, 7, 7]
    recv_keys:
      ["action_body", "action_hand_left", "action_hand_right", "action_cmd"]
    host: localhost
    port: 6379
    db: 0

# Rewrite Environment config to build the task-specific simulator setup
simulator:
  sim:
    backend_spec:
      render:
        mode: opencv
        camera: unitree_g1_with_hands/rs_camera
        width: 640
        height: 480
  scene:
    # terrain:
    #   type: plane
    #   properties:
    #     geom:
    #       size: [0, 0, 0.01]
    #       contype: 1
    #       conaffinity: 0
    #       priority: 1
    #       friction: [0.6, 0.6, 0.6]
    #       condim: 3
    #     material:
    #       reflectance: 0
    # visual:
    #   light:
    #     diffuse: [0.8, 0.8, 0.8]
    #     ambient: [0.4, 0.4, 0.4]
    #     specular: [1.0, 1.0, 1.0]
    #   properties:
    #     rgba:
    #       haze: [0.15, 0.25, 0.35, 1]
    path: assets/scenes/gear_lab/gear_lab.xml
    objects:
      apple:
        path: assets/objects/apple_0/model.xml
        pose: [0.3, 0.0, 0.72, 1, 0.0, 0.0, 0] # [w, x, y, z]
      plate:
        path: assets/objects/plate_1/model.xml
        pose: [0.3, 1.2, 0.72, 1, 0.0, 0.0, 0] # [w, x, y, z]
      object_table:
        path: assets/objects/lab_table/model.xml
        pose: [0.5, 0.0, 0.0, 0.707, 0.0, 0.0, 0.707]
      target_table:
        path: assets/objects/lab_table/model.xml
        pose: [0.5, 1.2, 0.0, 0.707, 0.0, 0.0, 0.707]
      unitree_g1_with_hands:
        pose: [0.0, 0.0, 0.793, 1, 0.0, 0.0, 0.0]
